html, body, div, span, h1, h2, h3, p, a, img, ul, li, form, label, input, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #000000;
}

body{
    background-color: var(--background);
    
    font-family: 'Pragmatica';
    font-weight: 400;
    font-size: 20px;
    
    --time: 0.55s;
    --yellow: #EFFF82;
    --green: #0BA13B;
    --background: #F3F3EF;
    --orange: #FF8743;
    --light-gray: #F3F3EF;
    --purple: #B9B2FD;
    --size-middle: 24px;
}

